body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

#main-header {
  text-align: center;
  background: #555;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.container-header {
  width: 80%;
  margin: auto;
  overflow: hidden;
  margin-left: 10%;
}

#swap {
  background-color: transparent;
  float: left;
  margin: 1.45em;
}

#swap:focus {
  border-color: transparent;
}

#swap_img {
  height: 1.6em;
  width: 1.45em;
}

#twitch {
  display: grid;
  height: 89vh;
  grid-template-columns: auto auto auto;
  background-color: rgb(109, 109, 109);
  border-radius: 15px;
  padding: 0.5%;
  margin: 0.5%;
}

.grid-item {
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  padding: 1%;
  margin: 0.5%;
}
