body {
	background-color: lightgray;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-header {
	text-align: center;
	background: #555;
	text-shadow:  -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

#twitch {
	display: grid;
	box-sizing:	border-box;
	height: 90vh;
	grid-template-columns: auto auto auto;
	background-color: rgb(109, 109, 109);
	border-radius: 15px;
	padding: 0.5%;	
	margin: 0.5%;
}

.grid-item {
	border-radius: 10px;
	background-color:#000;
	color: #FFF;
	padding: 1%;
	margin: 0.5%;
}