html {
  height: 100%;
}

body {
  background-color: white;
  display: flex;
  flex-flow: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  height: 100%;
}

#box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#banner {
  text-align: center;
  background: #555;
  padding: 1em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

#header-text {
  margin: 0;
}

#twitch {
  display: flex;
  flex: 1 1 auto;
}

#players {
  display: flex;
  box-sizing: border-box;
  flex: 9 2 auto;
  flex-wrap: wrap;
  margin: 0.5%;
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
}

.twitch-player {
  box-sizing: border-box;
  flex: 1;
  margin: 0.6em;
  background-color: #000;
  border: 0.5em solid #000;
  border-radius: 5px;
}

#chat {
  display: flex;
  box-sizing: border-box;
  flex: 1 1 300px;
  margin: 0.5%;
  background-color: rgb(85, 85, 85);
  border-radius: 10px;
}

#chat iframe {
  box-sizing: border-box;
  flex: 1;
  margin: 0.6em;
  border-radius: 5px;
}

.menu {
  position: absolute;
}

.menu .toggler {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 8px;
  opacity: 0%;
  z-index: 1;
  cursor: pointer;
}

.menu .toggler-graph {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 8px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .toggler-graph > div {
  position: relative;
  width: 60%;
  height: 3px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.menu .toggler-graph > div:before,
.menu .toggler-graph > div:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
  transition: all 0.5s ease;
}

.menu .toggler-graph > div:after {
  top: 10px;
}

/* Options */

.menu .options {
  position: relative;
  top: 45px;
  left: 8px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background: #666666;
  font: bold 32px 'Lato';
  line-height: 1.5em;
  color: #fff;
  transition: all 0.5s ease;
  visibility: hidden;
  transform: scale(1, 0);
  transform-origin: top left;
  transition: all 0.6s;
}

.menu .options li {
  border-bottom: 0.2em outset;
}

.menu .options li button {
  padding: 0.3em;
  padding-left: 0.1em;
  width: 100%;
  text-align: left;
  border: none;
  background-color: inherit;
  font: inherit;
  color: inherit;
  cursor: pointer;
  opacity: 0%;
  transition: opacity 0.3s;
}

.menu .options li button:hover {
  background-color: #858585;
}

.menu .options li button:focus {
  outline: none;
}

/* Show Menu */
.menu .toggler:checked ~ .options {
  visibility: visible;
  transform: scaleY(1);
}

.menu .toggler:checked ~ .options > li > button {
  opacity: 100%;
}

/* Burger Animation */
.menu .toggler:checked ~ .toggler-graph > div {
  background-color: rgba(85, 85, 85, 0);
}

.menu .toggler:checked + .toggler-graph > div:before,
.menu .toggler:checked + .toggler-graph > div:after {
  background-color: rgb(0, 0, 0);
}

.menu .toggler:checked + .toggler-graph > div:before {
  transform: translateY(9px) rotate(48deg) scale(1.5, 2);
}

.menu .toggler:checked + .toggler-graph > div:after {
  transform: translateY(-11px) rotate(-48deg) scale(1.5, 2);
}

/* Queries */
@media (max-width: 1024px) {
  #twitch {
    flex-flow: column;
  }
}
